<% form_for :order, :url => orders_url do |f| %>

  <% if @product.has_variants? %>
    <div id="product-variants">
      <%= render :partial => 'selects', :locals => {:f => f} %>
    </div>
  <% end%>
  <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
    <%= text_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
      1, :class => "title", :size => 3 %>
    &nbsp;

      <%=  submit_tag t('add_to_cart'), :class => "pagar" %>
  <% else %>
    <%= content_tag('strong', "Producto sin existencia") %>
  <% end %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'product' %>
<% end %>